.dragging-miplantel{
    opacity: 0.2;
}

.asigned {
    background-color: var(--green);
    color: white;

    
}

.asigned .icon-to-info-player:hover  {
    background-image: url('../../assets/imgs/drag-white.png');
}

.asigned:hover {
    background-color: var(--dark-green);
}


.asigned #miplantel-card-grilla-close {
    background-color: var(--green);
}

.icon-to-info-player{
    background-image: url('../../assets/imgs/drag-black.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.not-asigned {
    background-color: var(--gray-bg);
    color: black;
}

.not-asigned:hover {
    background-color: var(--dark-green);
}

.not-asigned .icon-to-info-player:hover  {
    background-image: url('../../assets/imgs/drag-green.png');
}

.not-asigned #miplantel-card-grilla-close{
    background-color: var(--gray-bg);
}


#miplantel-card-grilla-close:hover {
    background-color: var(--black);
}

.empty {
    color: var(--gray-bg) !important;
}
.empty:hover {
    color: var(--green) !important;
}

.empty #miplantel-row-divider{
    background-color: var(--gray-bg) ;
}

.empty:hover #miplantel-row-divider{
    background-color: var(--green) !important;
}

.empty #miplantel-row-sinasignar-divider {
    background-color: var(--gray-bg) !important;
}

#miplantel-row-grilla:hover #miplantel-row-divider {
    background-color: var(--green) !important;
}

#miplantel-row-sinasignar-grilla:hover #miplantel-row-sinasignar-divider {
    background-color: var(--green) !important;
}

#miplantel-input-name-position, #miplantel-row-name {
    text-transform: uppercase;
}

.created {
    color: var(--green) !important;
}

.created #miplantel-row-divider {
    background-color: var(--green)!important;
}



/* ESTILOS DEL CAROUSEL */

.carousel {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    scroll-behavior: smooth;
    width: 100%;
    padding: 10px 0;
}

.carousel::-webkit-scrollbar {
    height: 8px; /* Altura del scrollbar horizontal */
    width: 8px; /* Ancho del scrollbar vertical, si lo hubiera */
}


